html {
    scroll-behavior: smooth;
  }

body::-webkit-scrollbar {
    cursor: pointer;
    width: 20px;
    height: 10px;
    visibility: hidden;
  }


body::-webkit-scrollbar-track {
z-index: 4;
background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
height: 0px;
border-radius: 55px;
visibility: hidden;
transition: all 0.5s ease;
background-color: lightgray ;
}
body::-webkit-scrollbar-thumb:hover{
    transition: all 0.5s ease;
    visibility: visible;
}


body{
    overflow: overlay;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    height: 1200px;
    margin-left: 0;
    background: linear-gradient(180deg, #0072CE 0, #003087 100%);
    /* background: linear-gradient(180deg, #000000 0, #000000 25%, #2cb5e8 75%);  */
    /* Might need to change % and height based upon what we're including on this page */
}

.header{
    height: 110px;
    margin-bottom: -5px;
    background: transparent;
    transition:all 0.5s ease;
    width: 100vw !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 1 !important;
}

.header-alt{
    opacity: 95%;
    height: 110px;
    background: white;
    transition:all 0.5s ease;
    width: 100vw !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 1 !important;

}

.topbar{
    padding: 0 30px !important;
    align-content: center !important;
    height: 68px !important;
    position: relative !important;
    background-color: transparent !important;
    display: flex !important;

}
.navbar{
    width: 100vw !important;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.logobox{
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: flex-start !important;
    justify-content: flex-start !important;
    flex: 0 0 50%;
    max-width: 25%;
    

}

.logo{
    margin-top: 30px;
    margin-bottom: -30px;
    height: 120px !important;
    display: block !important;
    cursor: pointer;
}

.linkbox{
    margin-top: 25px;
    margin-bottom: -25px;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    flex: 0 0 75%;
    max-width: 75%;
    justify-content: flex-end !important;
}

.signuplnk   {
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: 5px;

    font-family: sans-serif;
    font-size: 18px;

    background-color: white;
    color: #005EB8;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    padding: 14px 30px 12px 30px !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.signuplnk:hover {
    background-color:  #003087;
    color: white;
    padding: 14px 30px 12px 30px !important;

}

.signuplnk-alt   {
    margin-top: 5px;
    margin-left: 5px;

    font-family: sans-serif;
    font-size: 18px;

    background-color: #005EB8;
    color: white;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    padding: 14px 30px 12px 30px !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.signuplnk-alt:hover {
    background-color:  #003087;
    color: white;
    padding: 14px 30px 12px 30px !important;

}



.outer-container{
    background-color: transparent;
    position: absolute;
    top: 15%;
    left: 12%;
    height: 500px;
    width: 70vw;
    border: 2px solid transparent;
    border-radius: 55px;
}

.top-internal-container{
    top: 0%;
    /* padding: 0 30px !important; */
    align-content: center !important;
    height: 246px !important;
    position: relative !important;
    background-color: transparent !important;
    display: flex !important;

}

.left-top{
cursor: pointer;
    transition: .3s;
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: flex-start !important;
    justify-content: flex-start !important;
    flex: 0 0 33%;
    max-width: 33%;
    background-color: transparent;
    border: 2px solid transparent;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}

.left-top:hover{
    transition: .3s;
    background-color: white;
    border: 2px solid white;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}
.center-top{
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: flex-start !important;
    justify-content: flex-start !important;
    flex: 0 0 75%;
    max-width: 100%;
    background-color: white;
    border: 2px solid white;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;

}

.bottom-internal-container{
    /* padding: 0 30px !important; */
    align-content: center !important;
    height: 246px !important;
    position: relative !important;
    background-color: transparent !important;
    display: flex !important;

}

.left-bottom{
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: flex-start !important;
    justify-content: flex-start !important;
    flex: 0 0 75%;
    max-width: 100%;
    background-color: white;
    border: 2px solid white;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;

}
.center-bottom{
    cursor: pointer;
    transition: .3s;
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: flex-start !important;
    justify-content: flex-start !important;
    flex: 0 0 33%;
    max-width: 33%;
    background-color: transparent;
    border: 2px solid transparent;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;

}

.link{
        transition: .3s;
        display: flex !important;
        align-items: center !important;
        align-content: center !important;
        justify-items: flex-start !important;
        justify-content: flex-start !important;
        flex: 0 0 33%;
        max-width: 50%;
        height: 100%;
        background-color: transparent;

}

.center-bottom:hover{
    transition: .3s;
    background-color: white;
    border: 2px solid white;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
}

.center-bottom:hover > .rubick-icon{
    background: linear-gradient(180deg, #0072CE 0, #003087 100%);
}


/* This is the section detailling css for each game icon */
/* Rubick's Race */
 .rubick-icon{
    transition: .3s;
    margin-top: 0;
    margin-left: 50%;
    flex: 0 0 50%;
    background: transparent;
    height: 100%;
}

 .asteroids-icon{
    transition: .3s;
    margin-top: 0;
    margin-left: 20%;
    max-width: 367px;
    flex: 0 0 50%;
    background: transparent;
    height: 100%;
}
