html {
    scroll-behavior: smooth;
  }

body::-webkit-scrollbar {
    cursor: pointer;
    width: 20px;
    height: 10px;
    visibility: hidden;
  }


body::-webkit-scrollbar-track {
z-index: 4;
background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
height: 0px;
border-radius: 55px;
visibility: hidden;
transition: all 0.5s ease;
background-color: lightgray ;
}
body::-webkit-scrollbar-thumb:hover{
    transition: all 0.5s ease;
    visibility: visible;
}


body{
    overflow: overlay;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    height: 250vh;
    margin-left: 0;
    background: linear-gradient(180deg, #0072CE 0, #003087 100%);
    /* background: linear-gradient(180deg, #000000 0, #000000 25%, #2cb5e8 75%);  */
    /* Might need to change % and height based upon what we're including on this page */
}

.header{
    height: 110px;
    background: transparent;
    transition:all 0.5s ease;
    width: 100vw !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 1 !important;
}

.header-alt{
    opacity: 95%;
    height: 110px;
    background: white;
    transition:all 0.5s ease;
    width: 100vw !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 1 !important;

}

.topbar{
    padding: 0 30px !important;
    align-content: center !important;
    height: 68px !important;
    position: relative !important;
    background-color: transparent !important;
    display: flex !important;

}
.navbar{
    width: 100vw !important;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.logobox{
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: flex-start !important;
    justify-content: flex-start !important;
    flex: 0 0 50%;
    max-width: 25%;
    

}

.logo{
    margin-top: 30px;
    height: 120px !important;
    display: block !important;
    cursor: pointer;
}

.linkbox{
    margin-top: 25px;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    flex: 0 0 75%;
    max-width: 75%;
    justify-content: flex-end !important;
}

.loginlnk   {
    margin-top: 5px;
    margin-left: 2.5px;
    margin-right: 5px;
    
    font-family: sans-serif;
    font-size: 18px;


    background-color: white;
    color: #005EB8;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    padding: 14px 30px 12px 30px !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.loginlnk:hover {
    background-color: #003087;
    color: white;
    padding: 14px 30px 12px 30px !important;

}

.loginlnk-alt   {
    margin-top: 5px;
    margin-left: 2.5px;
    margin-right: 5px;
    
    font-family: sans-serif;
    font-size: 18px;


    background-color: #005EB8;
    color: white;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    padding: 14px 30px 12px 30px !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.loginlnk-alt:hover {
    background-color: #003087;
    color: white;
    padding: 14px 30px 12px 30px !important;

}

.signuplnk   {
    margin-top: 5px;
    margin-left: 5px;

    font-family: sans-serif;
    font-size: 18px;

    background-color: white;
    color: #005EB8;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    padding: 14px 30px 12px 30px !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.signuplnk:hover {
    background-color:  #003087;
    color: white;
    padding: 14px 30px 12px 30px !important;

}

.signuplnk-alt   {
    margin-top: 5px;
    margin-left: 5px;

    font-family: sans-serif;
    font-size: 18px;

    background-color: #005EB8;
    color: white;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    padding: 14px 30px 12px 30px !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.signuplnk-alt:hover {
    background-color:  #003087;
    color: white;
    padding: 14px 30px 12px 30px !important;

}

.maincontainer{
    
    align-content: center;
    margin-top: 45vh;
    position: relative;
/*     margin-left:  auto;
    margin-right:  auto;; */
    display: flex;
}

.maincontent{
    background-color: transparent;
    width: auto; /* Can be in percentage also. */
    border: 2px solid transparent;
    border-radius: 55px;
    height: 100px;
    margin-left:  auto;
    margin-right:  auto;
    padding: 10px;
    position: relative;
}
.explorebox{
/*     margin-top: 25px; */
    margin-left:  auto;
    margin-right:  auto;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    flex: 0 0 75%;
    max-width: 50%;
    justify-content: flex-end !important;
}
.explorelnk   {
    
    font-family: sans-serif;
    font-size: 18px;

    margin-left:  auto;
    margin-right:  auto;
    background-color: white;
    color: #005EB8;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.explorelnk:hover {
    background-color: #003087;
    margin-top: -5px;
    /* Margins make the link stay central. */
    color: white;
    padding: 14px 30px 12px 30px !important;
}


.secondarycontainer{
    align-content: center;
    margin-top: 400px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

.secondarycontent{
    background-color: white;
    width: 80%/* Can be in percentage also. */;
    border: 2px solid transparent;
    border-radius: 55px;
    height: 20%;
    margin: 0 auto;
    margin-top: 150px;
    padding: 10px;
    position: relative;
}
p{
    font-family: sans-serif;
    text-align: center;
    font-size: 21px;
}
