body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: large !important;
  margin-left: 0;
}

.container{
  display: block;
}

.score {
  border: 2px solid black;
  width: 180px;
  height: 35px;
  text-align: center;
  line-height: 20px;
  margin: 15px 20px;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
}

button.start_game {
  margin:10px;
  line-he ight: 30px;
  width: 200px;
}

line {
  cursor: pointer;
}

.player_name {
  line-height: 30px;
}

.header{
    height: 110px;
    background: transparent;
    transition:all 0.5s ease;
    width: 100vw !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 1 !important;
}

.header-alt{
    opacity: 95%;
    height: 110px;
    background: white;
    transition:all 0.5s ease;
    width: 100vw !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 1 !important;

}

.topbar{
    padding: 0 30px !important;
    align-content: center !important;
    height: 68px !important;
    position: relative !important;
    background-color: transparent !important;
    display: flex !important;

}
.navbar{
    width: 100vw !important;
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.logobox{
    display: flex !important;
    align-items: center !important;
    align-content: center !important;
    justify-items: flex-start !important;
    justify-content: flex-start !important;
    flex: 0 0 50%;
    max-width: 25%;
    

}

.logo{
    margin-top: 30px;
    height: 120px !important;
    display: block !important;
    cursor: pointer;
}

.linkbox{
    margin-top: 25px;
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    flex: 0 0 75%;
    max-width: 75%;
    justify-content: flex-end !important;
}

.signuplnk   {
    margin-top: 5px;
    margin-left: 5px;

    font-family: sans-serif;
    font-size: 18px;

    background-color: white;
    color: #005EB8;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.signuplnk:hover {
    background-color:  #003087;
    color: white;
    padding: 14px 30px 12px 30px !important;

}

.signuplnk-alt   {
    margin-top: 5px;
    margin-left: 5px;

    font-family: sans-serif;
    font-size: 18px;

    background-color: #005EB8;
    color: white;
    transition: all 0.5s ease;
    border-width: 0 0 2px 0 !important;
    cursor: pointer !important;
    /* border: 2px solid rgb(0,	94, 184) !important; */
    padding: 7px 15px 6px 15px !important;
    border-radius: 55px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    text-shadow: none !important;
}

.signuplnk-alt:hover {
    background-color:  #003087;
    color: white;
    padding: 14px 30px 12px 30px !important;

}
